/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar{
  width: 100%;
  background: #1e293b;
  color: white;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: bold;
}

/* Layout */
.layout{
  display: flex;
}

/* Sidebar */
.sidebar{
  width: 220px;
  background: #0f172a;
  min-height: 100vh;
  padding: 20px;
}

.sidebar h3{
  color: white;
  margin-bottom: 20px;
}

.sidebar ul{
  list-style: none;
}

.sidebar ul li{
  margin: 10px 0;
}

.sidebar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 10px;
  display: block;
  border-radius: 5px;
}

.sidebar ul li a:hover{
  background: #334155;
}

/* Content */
.content{
  flex: 1;
  padding: 25px;
  background: #f1f5f9;
}

/* Form */
input{
  width: 250px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button{
  padding: 8px 15px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background: #1d4ed8;
}

/* Table */
table{
  margin-top: 20px;
  width: 400px;
  border-collapse: collapse;
}

table th{
  background: #1e293b;
  color: white;
}

table th, table td{
  padding: 10px;
  text-align: center;
}