body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

.layout{
display:flex;
}

.content{
flex:1;
padding:30px;
}

.auth{

width:300px;
margin:150px auto;
text-align:center;

}

.auth input{

display:block;
width:100%;
margin:10px 0;
padding:8px;

}